@import "../../styles/variables/colors";

.error-replace-block {
  &-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    border: 2px solid $salmon;
    border-radius: 3px;
    width: 100%;
    min-height: 300px;
  }
  &-wrap {
    display: grid;
    grid-template-columns: 52px 70%;
    grid-gap: 22px;
    justify-content: center;
  }
  &-icon {
    margin-top: 8px;
  }
  &-name-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.37rem;
    line-height: 1.62;
    color: $salmon;
  }
  &-desc {
    font-style: normal;
    font-weight: 200;
    font-size: 1.37rem;
    line-height: 1.62;
    color: $black;
  }
  &-report {
    margin-top: 17px;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.18rem;
    color: $black;
  }
  &-report-text {
    text-decoration: underline;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.18rem;
    color: #0068B6;
  }
}