@import "variables/colors";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  //margin-left: calc(100vw - 100%);
  //margin-right: 0;
  overflow-y: scroll;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  //margin: 0 auto;
  margin: 130px auto 0 auto;
}

.container {
  width: 1600px;
}

@media (max-width: 1920px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1380px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1080px) {
  #root {
    display: flex;
  }

  .main {
    margin: 100px auto 0 auto;
  }

  .container {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .site-filter {
    justify-content: flex-start;
    flex-direction: column;
  }

  .container {
    padding: 0 0.5rem;
  }
}

@media (max-width: 350px) {
}