@import "../../styles/variables/_colors.scss";

.white-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: $black;
  font-size: 0.9rem;
  padding: 12px;
  border: 1px solid $grey-border;
  border-radius: 3px;
  transition: border-color 0.2s;
  &:hover {
    border-color: $black;
    cursor: pointer;
  }
}