$white: #ffffff;
$black: #000000;
$grey-text: #686868;
$placeholder: #848484;
$grey-footer: #F9F9F9;
$grey-border: #c3c3c3;
$grey-header-border: rgba(36, 36, 36, 0.1);
$grey-hover: #e8e8e8;
$blue-text: #3481DB;
$salmon: #FF887C;

//logo colors
$cornflowerblue: #67baec;
$steelblue: #3d85bb;
$darkslategray: #3c5d69;
$chocolate: #e25e10;
