.home-page-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
  padding-bottom: 20px;
}

.our-projects {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.calendar-main-wrap {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.news-block {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.competitions-block {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.banners-block {
  grid-column-start: 1;
  grid-column-end: 4;
}

@media (max-width: 2500px) {

}

@media (max-width: 1380px) {

}

@media (max-width: 1280px) {
  .home-page-block {
    grid-template-rows: repeat(4, auto);
  }

  .calendar-main-wrap {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .calendar-main-wrap {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .news-block {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .competitions-block {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .banners-block {
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

@media (max-width: 1080px) {

}

@media (max-width: 768px) {

}

@media (max-width: 350px) {

}
