.socials {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.social-logo {
  height: 30px;
}

@media (max-width: 1920px) {

}

@media (max-width: 1380px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1080px) {
  .social-link {
    filter: grayscale(0);
  }
}

@media (max-width: 768px) {

}

@media (max-width: 350px) {

}

@media (min-width: 1080px) {
  .social-link {
    transition: filter 0.3s;
  }

  .social-link:hover {
    filter: grayscale(0);
  }
}