@import "../../../styles/variables/_colors.scss";

.error-page{
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 119px;
    height: 119px;
    border: 0.9px solid $salmon;
    border-radius: 50%;
    font-style: normal;
    font-weight: 200;
    font-size: 2.9rem;
    line-height: 3.44rem;
    color: $salmon;
  }
  &-desc {
    font-style: normal;
    font-weight: 300;
    font-size: 1.62rem;
    line-height: 1.87rem;
    text-align: center;
    color: #686868;
    margin: 58px 0;

    & .error-url {
      color: $salmon;
    }

    &-small {
      margin-top: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.18rem;
      text-align: center;
      color: #686868;
    }
  }
  &-links-block {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 50px;

    & .links-section {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-column-gap: 10px;
      align-items: center;
    }
    & .links-text {
      font-style: normal;
      font-weight: normal;
      font-size: 1.37rem;
      line-height: 1.62rem;
      color: $blue-text;

      &-thin {
        font-weight: 200;
      }
    }
  }
}