@import "../../../../styles/variables/_colors.scss";


.staff-content {
  padding-top: 20px;
  width: 100%;
  display: grid;
  grid-row-gap: 60px;
}

.staff-content-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.15px;
  color: #363636;
}

.staff-content-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.staff-item {
  display: grid;
  grid-row-gap: 5px;
  //grid-template-rows: 220px 42px auto;
  grid-template-rows: 262px auto;

  &-text {
    margin-top: auto;
  }
}

.staff-item-image-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.staff-item-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  user-select: none;
}

.staff-item-name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.15px;
  color: $black;
}

.staff-item-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: $black;
  //display: grid;
  //justify-content: center;
}

.staff-item-text a {
  color: $blue-text;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.staff-item-text a:hover {
  color: $chocolate;
}

.staff-content-wrap {
  display: grid;
  grid-row-gap: 21px;
}

@media (max-width: 768px) {
  .staff-content-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 515px) {
  .staff-content-item {
    grid-template-columns: 1fr;
  }

  .staff-item {
    grid-template-rows: auto;
  }
}

.person {
  display: grid;
  grid-row-gap: 20px;
  padding-bottom: 20px;
}

.person-header-block {
  display: flex;
  flex-wrap: wrap;
  background-color: $grey-footer;
  padding: 15px;
  border-radius: 3px;
}

.person-image {
  margin-right: 30px;
}

.person-position-wrap {
  display: grid;
  grid-row-gap: 15px;
  height: fit-content;
}

.person-name {
  //height: fit-content;
}

.person-position {
  color: $grey-text;
  font-weight: 300;
  //height: fit-content;
}

.person-information {
  display: grid;
  grid-row-gap: 10px;
}

.person-information > ul {
  list-style-position: inside;
}

@media (min-width: 1080px) {
  .staff-item > a {
    .staff-item-image-wrap {
      transition: opacity 0.3s;
    }
    &:hover .staff-item-image-wrap {
      opacity: 0.85;
    }
    .staff-item-name {
      transition: color 0.3s;
    }
    &:hover .staff-item-name {
      color: $chocolate;
      //color: $blue-text;
    }
  }
}
